/* -------------------------Media query for small screen--------------------------- */
@media only screen and (max-width: 600px) {
    /* media query for home page */
    .search-box{
        background: transparent;
        width: auto;
        padding: 0;
    }
    .search-box input{
        width: 0;
        padding: 0;
    }
    .navbar-center ul li a span{
        display: none;
    }
    .navbar-center ul li a {
        padding-right: 0;
        margin: 5px;
        font-size: 10px;
    }
    .navbar-center ul li a i{
        font-size: 20px;
        padding: 0;
    }
    .nav-profile-img{
        width: 30px;
    }
    .container{
        padding: 15px 3%;
    }
    .left-sidebar, .right-sidebar{
        flex-basis: 100%;
        position: relative;
        top: unset;
    }
    .main-content{
        flex-basis: 100%;
    }
    .post-stats div{
        margin: 2px 0;
    }
    .post-activity span{
        display: none;
    }
/*----------------------------- media query for profile page ----------------------------*/
    .profile-main, .profile-sidebar{
        flex-basis: 100%;
    }
    .profile-container{
        font-size: 14px;
    }
    .profile-container .profile-btn{
        font-size: 12px;
    }
    .profile-pic{
        width: 100px;
        margin-top: -50px;
    }
    .profile-description{
        font-size: 14px;
    }
    #showMoreLink{
        display: block;
        width: fit-content;
        margin: 10px auto;
        font-size: 14px;
        cursor: pointer;
    }
    .sidebar-activity{
        display: none;
    }
    .sidebar-activity.open-activity{
        display: block;
    }
}