*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f0f3f5;
    color: #5f5f5f;
}
a{
    text-decoration: none;
    color: #5f5f5f;
}
/* ------------------------------navbar start here-------------------------------------- */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
/* navbar-left */
.navbar-left{
    display: flex;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    display: block;
}
.search-box{
    background: #f0f2f5;
    width: 250px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
}
.search-box i{
    font-size: 20px;
    color: black;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: none;
}
/* navbar-center */
.navbar-center ul li{
    display: inline-block;
    list-style: none;
}
.navbar-center ul li a{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
}
.navbar-center ul li a i{
    font-size: 25px;
    padding: 5px 10px;
}
.navbar-center ul li a i:hover{
    color: black;
}
.navbar-center ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background: #045be6;
    position: absolute;
    bottom: -15px;
    transition: width 0.4s;
}
.navbar-center ul li a:hover::after,
.navbar-center ul li a.active-link::after{
    width: 100%;
}
/* navbar right */
.nav-profile-img{
    width: 50px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}
.online{
    position: relative;
}
.online::after{
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background: #41db51;
    position: absolute;
}
/* ------------------------------navbar end here---------------------------------- */
.container{
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* ---------------------------left-sidebar start here------------------------- */
.left-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}
.sidebar-profile-box{
    background: #fff;
    border: 2px solid #77777732;
    border-radius: 10px;

}
.sidebar-profile-info{
    padding: 10px 25px;
    border-bottom: 1px solid #ccc;
}
.sidebar-profile-info img{
    width: 80px;
    border-radius: 50%;
    background-color: white;
    padding: 4px;
    margin-top: -45px;
}
.sidebar-profile-info h1{
    font-size: 20px;
    font-weight: 600;
    color: #222;
    text-align: center;
}
.sidebar-profile-info p{
    font-size: 14px;
    font-weight: 500;
    color: #777;
    letter-spacing: 1px;
    padding-top: 10px;
}
.sidebar-profile-insights{
    border-bottom: 2px solid #ccc;
    padding: 10px 20px;
}
.sidebar-profile-insights ul{
    list-style: none;
}
.sidebar-profile-insights ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
    font-weight: 600;
}
.sidebar-profile-insights ul li span{
    float: right;
    color: #045be6;
    font-weight: 600;
}
.sidebar-profile-premium{
    padding: 10px 10px;
    border-bottom: 2px solid #ccc;
}
.sidebar-profile-premium a{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.sidebar-profile-premium a i{
    color: goldenrod;
    font-size: 20px;
    padding: 5px;
}
.sidebar-profile-item{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
}
.sidebar-profile-item i{
    padding: 10px;
}
.sidebar-activity{
    background: white;
    margin: 12px 0;
    padding: 5px 25px;
    border: 2px solid #77777732;
    border-radius:10px;
}
.sidebar-activity h3{
    color: #777;
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0 10px;
}
.sidebar-activity a{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    margin: 3px 0;
    padding: 5px;
}
.sidebar-activity a:hover{
    color: black;
    background-color: #88888861;
    border-radius: 5px;
}
.sidebar-activity a i{
    width: 20px;
    margin-right: 10px;
}
.sidebar-activity h3 a{
    font-size: 15px;
    color: #045be6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discover-more-links{
    border-top: 2px solid #ccc;
    text-align: center;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;
}
.discover-more-links a{
    display: inline-block;
    margin: 10px 0;
    font-size: 15px;
}

/*-------------------------- main content start here ----------------------*/
.main-content{
    flex-basis: 47%;
}
.create-post{
    background: #fff;
    border: 2px solid #77777732;
    border-radius: 10px;
}
.create-post-input{
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
}
.create-post-input img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.create-post-input textarea{
    width: 100%;
    border: 2px solid #777777b5;
    border-radius: 20px;
    outline: none;
    resize: none;
    margin-top: 8px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
.create-post-input textarea:hover{
    color: black;
    background: #77777732;
}
::placeholder{
    font-weight: 500;
}
.create-post-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}
.create-post-links li{
    list-style: none;
    flex-basis: 30%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
}
.create-post-links li i{
    font-size: 20px;
    margin-right: 5px;
}
.create-post-links li:hover{
    color: black;
    background: #77777732;
    border-radius: 5px;

}
.sort-by{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.sort-by hr{
    flex: 1;
    border: 0;
    height: 1px;
    background-color: #ccc;
}
.sort-by p{
    font-size: 13px;
    padding-left: 5px;
}
.sort-by p span{
    font-weight: 600;
    cursor: pointer;
}
.sort-by p span i{
    font-size: 15px;
    margin-left: 3px;
}
.post{
    background: #fff;
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
    border: 2px solid #77777732;
    border-radius: 10px;
}
.post-author{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.post-author img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}
.post-author h1{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.post-author small{
    display: block;
    margin-bottom: -2px;
}
.post p{
    font-size: 14px;
    margin-bottom: 15px;
}
.post-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}
.post-stats div{
    display: flex;
    align-items: center;
}
.post-stats img{
    width: 15px;
    margin-right: -5px;
}
.liked-users{
    margin-left: 10px;
}
.post-activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}
.post-activity div{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
.post-activity-link i{
    font-size: 18px;
    margin-right: 8px;
}
.post-activity-link:hover{
    color: black;
    background: #77777732;
    cursor: pointer;
}

/*----------------------------- right sidebar start here --------------------------*/
.right-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}
.sidebar-news{
    background: white;
    padding: 10px 25px;
    border: 2px solid #77777732;
    border-radius: 10px;
}
.sidebar-news i{
    width: 15px;
    float: right;
    margin-top: 10px;
}
.sidebar-news h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 10px 0 30px;
}
.sidebar-news a{
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}
.sidebar-news span{
    font-size: 12px;
}
.read-more-link{
    color: #045be6;
    font-weight: 500;
    margin: 20px 0 10px;
}
.sidebar-ad{
    background: white;
    padding: 15px 25px;
    text-align: center;
    margin: 12px 0;
    font-size: 12px;
    border: 2px solid #77777732;
    border-radius: 10px;
}
.sidebar-ad small{
    float: right;
    font-weight: 500;
}
.sidebar-ad p{
    margin-top: 30px;
    margin-bottom: 10px;
}
.sidebar-ad img{
    width: 60px;
    border-radius: 50%;
    margin: 4px;
}
.sidebar-ad b{
    display: block;
    font-weight: 500;
    margin-top: 10px;
}
.ad-link{
    display: inline-block;
    border: 1px solid #045be6;
    padding: 5px 15px;
    border-radius: 30px;
    font-weight: 500;
    margin: 20px auto 10px;
} 
.ad-link:hover{
    color: white;
    background-color: #045be6;
}
.sidebar-useful-links{
    padding: 15px 25px;
    text-align: center;
}
.sidebar-useful-links a{
    display: inline-block;
    font-size: 14px;
    margin: 4px 4px;
}
.copyright-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
}
.copyright-msg img{
    width: 18px;
    margin-right: 4px;
}
/* ------------------------ profile-drop-down-menu---------------------------- */
.profile-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.profile-menu-wrap.open-menu{
    max-height: 400px;
}
.profile-menu{
    color: #fff;
    background: #222;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.user-info h3{
    font-weight: 500;
}
.user-info a{
    color: #c9dbf8;
    font-size: 13px;
}
.profile-menu hr{
    border: none;
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 15px 0 10px;
}
.profile-menu-link{
    display: flex;
    align-items: center;
    color: #fff;
    margin: 12px 0;
    font-size: 14px;
}
.profile-menu-link p{
    width: 100%;
}
.profile-menu-link img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}